.main-navbar {
  background: var(--color-bg-navbar);
  border: 1px solid var(--color-border);
  border-radius: 22px;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  overflow: hidden;
}

/* GRID */

.navbar-grid {
  display: grid;
  grid-template-columns: 300px 1fr 220px;
}

/* LEFT */

.left-section {
  display: grid;
  grid-template-rows: 55px 60px;
}

.consult-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-bottom {
  border-top: 1px solid var(--color-border);
}

/* CONSULT BUTTON */

.consult-btn {
  background: var(--color-transparent);
  border: 1px solid var(--color-border-light);
  color: var(--color-text-main);
  padding: 8px 18px;
  border-radius: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
  transition: all 0.25s ease;
}

.consult-btn:hover {
  border-color: var(--color-border-hover);
  background: var(--color-hover-bg);
}
.consult-btn i {
  transition: transform 0.25s ease;
}

.consult-btn:hover i {
  transform: translateX(-2px);
}

/* MENU */

.menu-box {
  display: grid;
  grid-template-rows: 55px 60px;
}

.menu-row {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: 0;
  padding: 0;

  li a {
    color: var(--color-text-main);
    font-size: 15px;
  }
}

.menu-row.bottom {
  border-top: 1px solid var(--color-border);
}

.menu-row li a {
  position: relative;
  color: var(--color-text-main);
  font-size: 17px;
  padding: 6px 4px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.menu-row li a::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 2px;

  background: linear-gradient(
    90deg,
    var(--color-transparent),
    var(--color-text-main),
    var(--color-transparent)
  );

  transition: width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-row li a::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 0;
  height: 6px;
  background: var(--color-glow);
  filter: blur(6px);
  transition: width 0.45s cubic-bezier(0.16, 1, 0.3, 1);
  -webkit-transition: width 0.45s cubic-bezier(0.16, 1, 0.3, 1);
  -moz-transition: width 0.45s cubic-bezier(0.16, 1, 0.3, 1);
  -ms-transition: width 0.45s cubic-bezier(0.16, 1, 0.3, 1);
  -o-transition: width 0.45s cubic-bezier(0.16, 1, 0.3, 1);
}

.menu-row li a:hover::before,
.menu-row li a:hover::after {
  width: 100%;
}

/* LOGO */

.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid var(--color-border);
}

.logo-box img {
  height: 60px;
  filter: brightness(0) invert(1);
}

/* MOBILE */

.mobile-toggle {
  display: none;
}

/* OFFCANVAS */

.mobile-offcanvas {
  background: var(--color-bg-main);
  color: var(--color-text-main);
  border-left: 1px solid var(--color-border);
}

.offcanvas-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-bottom: 1px solid var(--color-bg-strong);
}

.mobile-logo {
  height: 35px;
  filter: invert(1);
}

.close-btn {
  background: none;
  border: none;
  color: var(--color-text-main);
  font-size: 22px;
}

.mobile-menu {
  list-style: none;
  padding: 0;

  li {
    padding: 18px 25px;
    border-bottom: 1px solid var(--color-bg-subtle);
  }

  a {
    color: var(--color-text-main);
    font-size: 16px;
  }
}

/* RESPONSIVE */

@media (max-width: 992px) {
  .navbar-grid {
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px 20px;
  }

  .left-section,
  .menu-box {
    display: none;
  }

  .mobile-toggle {
    display: block;
  }

  .logo-box {
    border: none;
  }
}
@media (max-width: 450px) {
  .logo-box {
    justify-content: right;
  }
  .logo-box img {
    height: 30px;
  }
}
.mobile-toggle {
  width: 40px;
  height: 40px;

  border-radius: 8px;
  border: 1px solid var(--color-border);

  background: var(--color-transparent);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.mobile-toggle span {
  width: 18px;
  height: 2px;
  background: var(--color-text-main);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.mobile-toggle:hover {
  background: var(--color-bg-surface);
}
.mobile-toggle {
  justify-self: end;
}
