<section class="hero">
  <div class="hero-content">
    <h1 class="hero-title" [innerHTML]="content.title"></h1>

    <!-- BLACK HOLE -->
    <img [src]="content.glowImage" class="hero-glow" alt="" />

    <p class="hero-desc">{{ content.description }}</p>

    <div class="hero-actions">
      <button
        *ngFor="let action of actions"
        [class]="action.buttonClass"
        type="button"
      >
        {{ action.label }} <i [class]="action.iconClass"></i>
      </button>
    </div>
  </div>
</section>
