<section class="hero">



  <div class="hero-content">

    <h1 class="hero-title">
      نحوّل الأعمال من مشاريع
      <br>
      تعمل إلى منظومات تنمو.
    </h1>

    <!-- BLACK HOLE -->
    <img src="assets/images/glow.png" class="hero-glow">

    <p class="hero-desc">
      هيئة شركة تطوير أعمال متخصصة في هندسة منظومات النمو وتعظيم الإيرادات،
      نعمل مع الشركات لبناء أنظمة نمو قابلة للتوسع وفق منهجية 16X.
    </p>

    <div class="hero-actions">
      <button class="btn-outline-ui">
        تعـــرف على هـــــبّة <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </button>
      <button class="btn-primary">
        تحدث مع فريق هــبّة <i class="fa-brands fa-whatsapp"></i>
      </button>
    </div>

  </div>

</section>